In [10]:
import pandas as pd
import numpy as np

In [11]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
# hier_index

In [13]:
# list(zip(outside, inside))

In [16]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  1.491466  0.447693
   2 -0.046639  1.009579
   3 -1.165807 -0.138915
G2 1  1.084349 -0.264668
   2 -0.925340 -1.192893
   3  1.089254  0.794555

In [17]:
df.loc['G1']

          A         B
1  1.491466  0.447693
2 -0.046639  1.009579
3 -1.165807 -0.138915

In [19]:
df.loc['G1'].loc[1]

A    1.491466
B    0.447693
Name: 1, dtype: float64

In [20]:
df.index.names = ['Groups','Numbers']
df

                       A         B
Groups Numbers
G1     1        1.491466  0.447693
       2       -0.046639  1.009579
       3       -1.165807 -0.138915
G2     1        1.084349 -0.264668
       2       -0.925340 -1.192893
       3        1.089254  0.794555

In [21]:
df.loc['G2'].loc[2]['B']

-1.1928934844121255

In [22]:
df.loc['G1'].loc[3]['A']

-1.165806806745259

In [24]:
df.xs('G1')

                A         B
Numbers
1        1.491466  0.447693
2       -0.046639  1.009579
3       -1.165807 -0.138915

In [26]:
df.xs(1, level='Numbers') # by using .xs function we can get level 1 of both g1 and g2, whereas we couldnt have done that using .loc

               A         B
Groups
G1      1.491466  0.447693
G2      1.084349 -0.264668