In [2]:
import pandas as pd
import numpy as np

In [5]:
d = {'A':[1,2,np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3] }
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
df.dropna() # jis bhi row(as axis=0 by default) mei ek bhi value nan hogi pd usko drop kar dega

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(axis=1) # as humne axis = 1 kar diya, pd will drop all columns that contain nan in them

   C
0  1
1  2
2  3

In [11]:
df.dropna(thresh=2) # as humne threshold value 2 kar di, row 1 mei sirf ek hi nan tha, therefore woh reh sakta hai df mei

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [12]:
df.dropna(axis=1, thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [15]:
df.fillna(value='Fill') # jo bhi pass karenge string mei woh fill hojayega

      A     B  C
0   1.0   5.0  1
1   2.0  Fill  2
2  Fill  Fill  3

In [17]:
df['A'].fillna(value=df['A'].mean()) # isme we are filling the element only in col A and value that we are filling is the mean of values in col A

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [24]:
df['B'].fillna(value=df['C'].mean())

0    5.0
1    2.0
2    2.0
Name: B, dtype: float64